@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";


.cards{
    margin-top: 50px;
    overflow: auto;
    white-space: nowrap;
}

.card{
  display: flex;
  align-items: center;
  background: #FFFFFF;
border-radius: 10px;
padding: 45px 40px;
margin: 0 10px;
}


.card-section{
  display: flex;
}

.card-body{
  flex-wrap: wrap;
}

.card-body h4{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #2B2B2C;
  margin-bottom: 20px;
}

.card-body p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #383838;
}

.icon{
  width: 67.01px;
  display: flex;
height: 67.01px;
background: rgba(255, 107, 107, 0.24);
border-radius: 11px;  
box-sizing: border-box;
  margin-right: 50px;
}

.icon img{
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    clear: both;
    align-items: center;
    justify-content: center;
    align-self: center;
object-fit: contain;
text-align: center;
}






























.parallax-one {
    /* The image used */
    background-image: url("img/download\ \(1\).png");
  
    /* Set a specific height */
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-two {
    /* The image used */
    background-image: url("img/download\ \(3\).jpg");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  .parallax-three {
    /* The image used */
    background-image: url("img/downloa.png");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

i{
    padding: 10px;
    color: yellow;
}

.kk{
justify-content: end !important;
}



/* nav styling starts */
.left-img img{
    width: 60px;
}
header, .more-details, .content, .main, .article, .name-check, footer{
    background-color: #7952b3;
}
.nav{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.right a:hover{
    background-color: yellow;
    color: #7952b3 !important;
    border-radius: 5px;

}

.left{
    flex: 1;
}

.major-details img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
}


/* nav styling ends */


/* card group styling */
.card-group img{
    height: 200px;
}

.card-group p{
    color: #7952b3;
    font-weight: bolder;
}

.card-group p, h5{
    color: #7952b3;
    font-weight: bolder !important;
}



/* end of card group styling */

/* start of main styling */

.tool p{
    background-color: #7952b3;
    padding: 35px;
    font-weight: bolder;
}

.tool{
    padding: 10px;
    margin-top: 10px;
}

.tool p:hover{
    color: yellow;
}


.main-tool{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr) );
    grid-gap:20px;
    border-radius: 11px;

}


/* end of main styling */


/* start of form styling */
 
.gi a{
    text-decoration: none;
}

.gi a:hover{
    color: rgb(253, 15, 15)!important;
}

.gi button:hover{
    background: rgb(253, 15, 15)!important;
    color: #fff;
}



.panel-body #errorMessage{
    margin-bottom: 20px;
    padding: 0px;
    background-color: rgb(247, 14, 14);
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;


}

.nav-item a:hover{
    color: rgb(253, 15, 15)!important;
    background-color: #fff;
    text-decoration: underline;
    border-radius: 6px;
}


/* end of form styling */

@media (max-width: 768px){
    .left img{
        width: 40px;
    }

    .nav{
        display: block; 
    }

    .right{
        display: block;
        padding: 50px;
    }
    
    .left{
        flex: 1;
    }
    
    .major-details img{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        text-align: center;
    }



    .main-tool{
        display: block;
    }

.mo{
display: none;
}

.navbar-brand img{
margin-left: 20px;
}

.card-body{
    flex-wrap: wrap;
}

.card-body p{
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.icon{
    width: 37.01px;
    display: flex;
height: 37.01px;
background: rgba(255, 107, 107, 0.24);
border-radius: 11px;  
box-sizing: border-box;
    margin-right: 0px;
  }

  .icon img{
      width: 20px;
     
  }

  .card-body h4{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    line-height: 27px;
    color: #2B2B2C;
    margin-bottom: 20px;
  }

  .card-body p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #383838;
  }

}